---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeContent from "../components/HomeContent.astro";
import ProfileSidebar from "../components/ProfileSidebar.astro";
---

<BaseLayout>
  <div class="wrapper">
    <ProfileSidebar />
    <HomeContent />
  </div>
</BaseLayout>
