---
import { publications } from "../data/publications";
import PublicationItem from "./PublicationItem.astro";
---

<h2 id="publications" class="publications-heading">Publications</h2>

<section class="publications" aria-labelledby="publications">
  <ol class="bibliography">
    {publications.map((publication) => <PublicationItem publication={publication} />)}
  </ol>
</section>
